In [1]:
# Creating a list
students=['naveen','kranti','hameed','john','faheen','swetha']
print(students)

['naveen', 'kranti', 'hameed', 'john', 'faheen', 'swetha']

In [2]:
# method to validate data type
type(students)

list

In [3]:
# how to access elements from the list
print (students)

['naveen', 'kranti', 'hameed', 'john', 'faheen', 'swetha']

In [4]:
print(students[1])

kranti

In [5]:
print(students[3])

john

In [6]:
print(students[2].title)

<built-in method title of str object at 0x00000207C455BD30>

In [7]:
print(students[2].title())

Hameed

In [8]:
# To add a data element to list
students.append('rafi')
print(students)

['naveen', 'kranti', 'hameed', 'john', 'faheen', 'swetha', 'rafi']

In [9]:
students.append('suveditha')

In [10]:
print(students)

['naveen', 'kranti', 'hameed', 'john', 'faheen', 'swetha', 'rafi', 'suveditha']

In [11]:
# Adding a data element to the 2 nd index of the list
students.insert(2,'kiran')

In [12]:
print(students)

['naveen', 'kranti', 'kiran', 'hameed', 'john', 'faheen', 'swetha', 'rafi', 'suveditha']

In [13]:
# To modify the list-- I want to modif the list naveen to namitha
students[0]=namitha
print(students)

NameError: name 'namitha' is not defined

In [14]:
students[0]='namitha'
print(students)

['namitha', 'kranti', 'kiran', 'hameed', 'john', 'faheen', 'swetha', 'rafi', 'suveditha']

In [15]:
# To delete a data from list-- I want to delete the data 'kiran' from the list
del students[2]
print(students)

['namitha', 'kranti', 'hameed', 'john', 'faheen', 'swetha', 'rafi', 'suveditha']